.vertical_nav, .collapse_menu .collapse_menu--icon {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

* {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

.toggle_menu {
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 0;
  background: none;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer; }

.toggle_menu i {
  display: block;
  font-size: 28px; }

.vertical_nav {
  position: absolute;
  left: -200px;
  top: 50px;
  bottom: 0px;
  width: 200px;
  background: #f6f6f6; }

.vertical_nav__closed {
  left: -200px !important; }

.vertical_nav__opened {
  left: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.4) -30px 0 30px 30px; }

.vertical_nav a {
	text-decoration: none;
}
.menu {
  position: absolute;
  top: 35px;
  bottom: 40px;
  overflow-y: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.menu--item {
  position: relative;
  min-height: 40px;
  line-height: 40px; }

.menu--item__has_sub_menu .menu--link:after {
  position: absolute;
  top: 0;
  right: 15px;
  height: 40px;
  line-height: 40px;
  font-family: "bootstrap-icons";
  content: "\F229"; }

.menu--subitens__opened {
  background: #e9e9e9; }

.menu--subitens__opened .menu--link {
  color: #000000; }

.menu--subitens__opened .sub_menu {
  display: block; }

.menu--link {
  display: block;
  overflow: hidden;
  font-size: 0.875rem;
  text-decoration: none;
  color: #666;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer; }

.menu--link:hover, .menu--link:hover .menu--label {
  color: #000000;
  background: #dddddd; }

.menu--icon {
  display: block;
  float: left;
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px; }

.menu--label {
  display: block;
  height: 40px;
  line-height: 40px; }

.sub_menu {
  display: none;
  overflow: hidden;
  padding-left: 0;
  list-style: none; }

.sub_menu--link {
  display: block;
  padding-left: 50px;
  padding-right: 16px;
  font-size: 0.875rem;
  color: #666;
  text-decoration: none; }
 
.sub_menu--link:hover {
  color: #000000;
  background: #dddddd; }

.sub_menu--link__active {
  color: #000000;
  font-weight: 500; }

   
.active_menu {
  color: #0d6efd;
  font-weight: 500; }

.collapse_menu {
  display: none; }

@media (min-width: 992px) {
  .vertical_nav {
    left: 0; }

  .toggle_menu {
    display: none; }

  .vertical_nav__minify {
    width: 50px; }

  .vertical_nav__minify .menu {
    overflow: visible; }

  .vertical_nav__minify .menu--label {
    display: none;
    position: absolute;
    top: 0;
    left: 50px;
    width: 150px;
    padding-left: 16px;
    padding-right: 16px;
    background: #e9e9e9;
    font-weight: 500; }

  .vertical_nav__minify .menu--item__has_sub_menu .menu--link:after {
    content: ""; }

  .vertical_nav__minify .menu--subitens__opened .menu--label,
  .vertical_nav__minify .menu--subitens__opened .sub_menu {
    display: block; }

  .vertical_nav__minify .sub_menu {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 150px;
    background: #e9e9e9; }

  .vertical_nav__minify .sub_menu--link {
    padding-left: 16px; }

/*
  .vertical_nav__minify .collapse_menu--icon {
    -webkit-transform: rotate(180deg); }
*/
  .vertical_nav__minify .collapse_menu--icon {
    transform: rotate(180deg); }

  .collapse_menu {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
    background: #f6f6f6;
    color: #666;
    font-size: 0.875rem;
    text-align: left;
    cursor: pointer; }

  .collapse_menu:hover {
    color: #000;
    background: #dddddd; }

  .collapse_menu .collapse_menu--icon {
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px; }

  .collapse_menu .collapse_menu--icon:before {
    content: "\F284"; }
  
  .collapse_menu .collapse_menu--label {
    display: block;
    height: 40px;
    line-height: 40px; } }
